.services_container {
  width: 100vw;
  min-height: 90vh;
  position: relative;

  .service_title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
    

    h2 {
      font-weight: 600;
      font-size: 1.5rem;
    }
    small {
      font-size: 14px;
      color: gray;
    }
  }
  .service_domain {
    margin: 3rem auto;
    display: flex;
    width: 100%;
    height: 100%;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 3rem;

    .first {
      flex: 0.3;
      width: 60%;
      overflow-y: scroll;
      cursor: pointer;
      height: 250px;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      padding: 1rem 2rem;
      box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.4);
      border-radius: 1rem;
      transition: scale 0.3s ease-in;
      margin: 0.5rem;

      i {
        font-size: 2.5rem;
        padding: 1rem auto;
        color: #5c5c5c;
      }

      h4 {
        font-size: 2rem;
        font-weight: 500;
        margin: 10px auto;
        color: #0a0a0a;
      }
      p{
        padding: 10px 10px;
        align-items: center;
        color: #5c5c5c;
     
      }
      small {
        display: flex;
        gap: 10px;
        align-items: center;
        justify-content: flex-start;
        color: rgb(0, 0, 0);
        cursor: pointer;

        &:hover {
          color: royalblue;
        }

        i {
          font-size: 2rem;
        }
        &:hover i {
          color: royalblue;
        }
      }

      &:hover {
        scale: 1.02;
        transition: scale 0.3s ease-in;
      }

      @media (max-width: 600px) {
        flex: 1;
        width: 70%;
        margin: 10px 15px;
        padding: 1rem 2rem;
      }
      &::-webkit-scrollbar {
        width: 0%;
      }
    }
    @media (max-width:800px){
        display:flex;
        flex-direction: column;
    }
  }
}
