.footer_container{
    width: 100vw;
    height: 10vh;
    background-color: rgb(68, 67, 67);

    display: flex;
    align-items: center;
    justify-content: center;

    p{
        color: #fff;
    }
}